body{
    background-color: #333533;
    padding: 0px 0px;
    margin: 0px 0px;
}
img {
    border-color: #FFD100;
    border-radius: 170px;
    border-style: solid;
    outline: 2px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
}